*{
    margin: 0;
    padding: 0;
}

:root{
    --primaryColor:#192025
}
body{
    background: url(Images/bg.png) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* navbar */
.navbar{
    display: flex;
    backdrop-filter: blur(20px);
    border-radius: 0px 0px  30px 30px;
    /* border: 2px solid blue;   */
    justify-content: space-around;
    align-items: center;
}
.hammenu{
    display: flex;
    backdrop-filter: blur(20px);
    border-radius: 0px 0px  30px 30px;
    /* border: 2px solid blue;   */
    justify-content: space-around;
    align-items: center;
    width: 70%;
}
.hammenu>ul{
    display: flex;
}

.hammenu>ul>li{
    list-style: none;
    margin: 10px;
    font-size: 1.4rem;
    font-family:Arial, Helvetica, sans-serif;
    
}
.hammenu>ul>li>a{
    text-decoration: none;
    color: white;
    padding: 10px;
    &:hover{
        border-bottom: 3px solid #3b2b2b;

        color: black;
    }
}
.header{
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 2.7rem;
}
.main,.daily{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  
}
.container{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.content{
    backdrop-filter: blur(10px);
    border-radius: 28px;
    /* background-color: white; */
}
.contentHeading{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.line{
    background-color: gray;
    height: 1px;
    width: 100%;
}
.mainValue{
    display: flex;
    
}
.mainValue1st{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.temperature{
    /* margin-top: 60px;
    margin-left:20px; */
    font-size: 60px;
    color: black;
    text-shadow: 2px 2px rgb(9, 9, 37);
}
.mainValue2nd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 12px;
}
.mainValue2nd>div{
    padding: 4px;
}
.location>span{
    color: var(--primaryColor);
}
.region>span{
    color: var(--primaryColor);
}
.condition{
    margin: 0px 40px; 
}

.extraValue{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    margin: 10px;
}
.value{
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding-bottom: 15px;
    font-size: 1.2rem;
}
.first{
    color: var(--primaryColor);
}
/* search  */
.serachbox{
    /* background-color: wheat; */
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.serachbox>input{
    font-size: large;
    width: 80%;
    padding: 5px 15px;
    border: none;
    border-bottom: 2px solid beige;
    background: none;

    &:focus{
        
        outline: none;
        border-color: transparent;
    }
}
.get-weather{
    /* background-color: blue; */
    
    height: 40px;
    width: 40px;

}
/* daily weather  */
.component{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13px 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.undetailedInfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.contentOverlay{
    width: 90%;
}
.tabOne{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.tabTwo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.todayCurrrentTemp{
    font-weight: 600;
}
.temptoday{
    font-size: 1.4rem;
    font-family: sans-serif;
}
.conditiontoday{
    display: flex;
    justify-content: center;
    align-items: center;
}
.conditiontoday>img{
    width: 60px;
}
/* detaild info card  */
.dailySize{
    width: 60%;
}
.cardContainer{
    display: flex;
}
.detailedInfo{
    width: 95%;
}
.card{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0px 5px;
}
.dayTime{
    font-size: small;
}
.tempdetails{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}
.tempdetailed{
    display: flex;

    align-items: center;
    font-size: 20px;
}
.temperature3rdday{
    font-size: 35px;
}
.arrowDown{
    position: absolute;
    right: 15px;
}
.setAndRise{
    font-size: 0.8rem;
}
/* hamburger navbar  */
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger svg {
    fill: #e8eaed;
}
/* for mobile */
@media only screen and (max-width: 650px) {
    .container{
        position: relative;
        z-index: -1;
    }
    .hammenu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: #333;
        width: 88%;
        border-radius: 5px;
        padding: 10px;
        z-index: 1;
    }
    .hammenu>ul>li{
        font-size: 1rem;
    }

    .hammenu.show {
        display: flex;
        z-index: 1;
        
    }

    .hammenu li {
        margin: 10px 0;
    }
    .hamburger {
        display: block;
    }
}
@media only screen and (max-width: 450px) {
    .mainValue{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main{
        width: 100%;
    }
    .container{
        width: 100%;
    }
    /* .content{
        width: 100%;
    } */
    .serachbox{
        width: 100%;
    }
    .serachbox>input{
        font-size: medium;
        width: 70%;
        padding: 5px;
    }
    .undetailedInfo{

    }
    .tabTwo{
        display: none;
    }
}
@media only screen and  (min-width: 451px) and (max-width: 875px) {
    .dailySize{
        width: 100%;
    }
    .todaySize{
        width: 100%;
    }
    .header {
        font-size: 1.8rem;
    }
}
@media only screen and  (min-width: 875px) and (max-width: 1050px) {
    .dailySize{
        width: 80%;
    }
    .contentOverlay {
        width: 100%;
    }
    .todaySize {
        width: 60%;
    }
}
@media only screen and  (min-width: 1051px) and (max-width: 1300px) {
    .dailySize{
        width: 75%;
    }
    .todaySize {
        width: 50%;
    }
}